{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Web App</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>WEBBBBBBBBB</h1>
    </header>
    <main>
        <h2>Home Page</h2>
        <p>This is the home page of my web app.</p>
        <a href="https://www.facebook.com/Emanon2448">ลิ้งติดต่อน้องนนท์</a>
    </main>
    <footer>
        <p>&copy; 2023 My Web App</p>
    </footer>
</body>
</html>